@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

// fonts
$karla:'Karla', sans-serif;

// colors
$aqua-color: #2AB3B1;
$ligth-aqua-color: #2AB3B1;
$apple-green: #C0DF33;
$gray: #9AA7BE;
$white: #FFFFFF;