@import "./variables";
@import "./functions";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-container{
    @media  screen and (max-width: 600px){
        @include size-box(722px,311px);
        top:72px;
    }        
    @include size-box(460px,635px);
    border-radius: 8px;
    box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
    font-family: $karla;
    top: 162px;
    margin: 0 auto;
    position: relative;
    .join-container{
        margin: 40px;
        div{
            height: 40px;
        }
        h1{
            position: relative;
            color:$aqua-color;
            font-weight: 700;
            font-size:24px;
            margin-bottom: 24px;
        }
        h2{
            color:$apple-green;
            font-size:18px;
            margin-bottom: 11px;
        }
        p{
            color: $gray;
        }
    }
    .container-bottom{
        @media  screen and (max-width: 600px){
            display:flex;
            flex-direction: column;
            .information-container-2{
                @include size-box(259px,310px);
            }
            
        }      
        background-color: $aqua-color;
        @include display-flex-row;
        position: relative;
        color: $white;
        h1{
            margin-bottom: 18px;
        }
        .information-container-1{
            .price{
                @include display-flex-row;
                margin-bottom: 4px;
                align-items: center;
                span{
                    font-size: 32px;
                    margin-right:11px;
                    font-weight:600;
                }
                p{
                    opacity: 0.5;
                }
            }
            .full{
                margin-bottom: 26px;
                font-size: 16px;
            }
            button{
                border: none;
                border-radius: 5px;
                background-color: $apple-green;
                @include size-box(48px,237px);
                font-weight: bold;
                font-size: 16px;
                color: $white;
                box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
            }
        }
        .information-container-2{
            background-color: #4ABFBD;
            p{
                opacity: 0.75;
            }
        }
    }
}

.information-container-1, .information-container-2{
    padding: 40px;
    h1{
        font-size: 18px;
        color: $white;
    }
}



